/*common section*/
html, body{
    width: 100%;
    margin-right: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    margin-top: 20px;
}
.section-item{
    color: #272727;
    text-align: center;
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 800;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
/*upper section*/
.main-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    font-style: normal;
    font-family: 'Lato';


}
.sub-title{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);
    align-items: center;
    padding: 0 200px;
    margin-right: 0px;
    
}
.main-pic{
    width: 400px;
}
.header-left{
    display: inline-block;
    margin-right: 100px;
}
/*main section*/

/*main section 1*/
.sec-1{
    margin-top: 100px;
    margin-bottom: 0px;
}
#title{
  text-align: center;
}
#sub{
    padding-bottom: 30px;
    padding-top: 0px;
}
.container{
    float: left;
    list-style: none;
    margin-right: 50px;
    
}
.image{
    border-radius: 300px 300px 0px 0px;
    /*align-items: center;*/
    padding: 10px 10px 0px 10px;
    justify-content: space-between;
    display: block;
   
}
#img-1{
    background: rgba(167, 33, 98, 0.15);
    
}
#img-2{
    background:  rgba(5, 151, 160, 0.15);
}
#img-3{
    background: rgba(71, 125, 17, 0.15);    
}
.pic-title{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    text-decoration: underline;
}
.img-sec{
    /*display: inline-block;
    margin-right: 60px;
    width: 120px;
    align-items: center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
/*main section 2*/
#btn-2{
    display: inline;
    margin-left: 110px;
    font-size: 10px;
    padding: 14px 25px;
}
.sec-2{
    display: inline-flex;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);
    align-items: center;
    padding:40px 400px;
    margin-top: 100px;
    margin-bottom: 0px;
}
#maintitle{
    font-size: 22px;
    text-align: center;

}
#subtitle{
    font-size: 13px;
    text-align:center;
}
#img-4{
    margin-right: 100px;
}

/*main section 3*/
.sec-3{
display: block;
margin-top: 100px;
margin-bottom: 0px;
}
#img-5, #img-6, #img-7, #img-8{
    padding: 10px 10px 0px 10px;
    justify-content: space-between;
    display:block;
    margin-left: auto;
    margin-right: 20px;
}
#img-sec-3{
    width: 100%;
    align-items: center;
    padding-left: 230px;
    
}
.container-3{
    float: left;
    list-style: none;
    margin-bottom: 30px;
    margin-right: 10px;
}
/*main section 4*/
.sec-4{
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    display:inline-block;
    justify-content: space-around;
    padding: 120px 500px;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
#title-4, #sub-4{
    text-align: center;
    margin-top: 0px;
}
#title-4{
    margin-bottom: 10px;
}
#sub-4{
    margin-top: 10px;
}
#mail{
    padding: 10px 150px;
    padding-left: 10px;
    display: inline;
}
#subscribe{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 15px;
    padding-left: 10px;
    margin-top: 20px;
    
}
.bar{
    position: absolute;
    width: auto;
}
/*footer section*/
.footer{
    background: #111010;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    margin-top: 80px;
}
.title-f{
    text-align: center;
    margin-left: 180px;
    margin-bottom: 20px;
    padding: 0px 30px 30px 0px;
}
#mtitle-f{
    padding-bottom: 0px;
}
#sub-f{
    padding-top:0px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
}
#sub-f-2{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-weight: 400;
}